.banner {
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1, .banner p {
  text-shadow: 1px 1px 8px rgb(0, 0, 0, 0.2);
  color: white;
}

.banner p {
  opacity: 0.8;
  margin-bottom: 32px;
}
.banner-container {
  width: 900px;
  margin: 0 auto;
}
